<!DOCTYPE html>
<html lang="en">

<head>
    <title>Curriculum Vitae</title>

    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <header>
        <div class="nav-bar">
            <div class="logo">
                <a href="/"><i class='fas fa-rainbow'></i></a>
            </div>
            <div class="dropdown">
                <div >
                    <button class="buttonDeslizable">  
                        <div class="burger-menu" > 
                            <i class="fas fa-bars"></i>
                        </div>
                    </button>
                </div>
                <div id="completo">
                    <div class="dropdown-content">
                        <div id="felx">
                           

                            <a href="/contact" >Contacto</a>
                            <a href="/about" >Datos Personales</a>
                            <a href="/studies" >Mis Estudios</a>
                            <a href="/myJob" >Mi Experiencia</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="icons-contens">
                <div class="icons">
                    <div class="borde">
                        <p id="emailIcon"><i class='fa fa-at'></i></p>
                    </div>
                    <div class="borde">
                        <p id="contact"><i class='fa fa-phone'></i></p>

                    </div>
                    <div class="borde">
                        <p id="aboutMy"><i class='fa fa-info-circle'></i></p>

                    </div>
                    <div class="borde">
                        <p id="myStudies"><i class='fa fa-book'></i></p>

                    </div>
                    <div class="borde">
                        <p id="myJob"><i class='fa fa-cogs'></i></p>

                    </div>

                </div>
                <div class="data-contens">
                    <div class="borde">
                        <a href="/contact" id="email"></i></a>
                    </div>
                    <div class="borde">
                        <p id="foneNunber"></p>
                    </div>
                    <div class="borde">
                        <a href="/about" id="about"></i></a>

                    </div>
                    <div class="borde">
                        <a href="/studies" id="studies"></i></a>

                    </div>
                    <div class="borde">
                        <a href="/myJob" id="job"></i></a>

                    </div>

                </div>
            </div>
            <div class="h2_Cv">
                <h2 id="title">Curriculum Vitae</h2>
                <h3>Download</h3>
            </div>

        </div>

    </header>

    <main>
        <div class="center">
            <div>
                <div class="containName">
                    <h1 id="nombre">Christrian Gustavo Doniguian</h2>
                </div>
                
          <br>
                <div class="myFoto">
                    <img src='image/fotoChristian.jpg' alt='fotoChristian' class="fotoChristian">
                </div>
                
            </div>
            
        </div>
       
        <div id="positions">
            <h2 class="colorH2">Estoy en la Web</h2>
            <h2 class="colorH2">Enterate de mi trabajo y mis logros.</h2>
            <h2 class="colorH2">Estamos para ayudarte a solucionar tus problemas digitales.</h2>
        </div>
  
        <a class="whatsapp"
         href="https://wa.me/543516840510?text=Quiero%20consultar%20por%20algún%20producto" target="_blank"> 
        <i class="fa fa-whatsapp whatsapp-icon"></i>
    </a>
    </main>   
    <script src="js/contact.js"></script>
</body>

</html>