<!DOCTYPE html>
<html lang="en">

<head>
    <title>CV/Experiencia Laboral</title>

    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="nav-bar">
            <div class="logo">
                <a href="/"><i class='fas fa-rainbow'></i></a>
            </div>
            <div class="dropdown">
                <div >
                    <button class="buttonDeslizable">  
                        <div class="burger-menu" > 
                            <i class="fas fa-bars"></i>
                        </div>
                    </button>
                </div>
                <div id="completo">
                    <div class="dropdown-content">
                        <div id="felx">
                           

                            <a href="/contact" >Contacto</a>
                            <a href="/about" >Datos Personales</a>
                            <a href="/studies" >Mis Estudios</a>
                            <a href="/myJob" >Mi Experiencia</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="icons-contens">
                <div class="icons">
                    <div class="borde">
                        <p id="emailIcon"><i class='fa fa-at'></i></p>
                    </div>
                    <div class="borde">
                        <p id="contact"><i class='fa fa-phone'></i></p>

                    </div>
                    <div class="borde">
                        <p id="aboutMy"><i class='fa fa-info-circle'></i></p>

                    </div>
                    <div class="borde">
                        <p id="myStudies"><i class='fa fa-book'></i></p>

                    </div>
                    <div class="borde">
                        <p id="myJob"><i class='fa fa-cogs'></i></p>

                    </div>

                </div>
                <div class="data-contens">
                    <div class="borde">
                        <a href="/contact" id="email"></i></a>
                    </div>
                    <div class="borde">
                        <p id="foneNunber"></p>
                    </div>
                    <div class="borde">
                        <a href="/about" id="about"></i></a>

                    </div>
                    <div class="borde">
                        <a href="/studies" id="studies"></i></a>

                    </div>
                    <div class="borde">
                        <a href="/myJob" id="job"></i></a>

                    </div>

                </div>
            </div>
            <div class="h2_Cv">
                <h2 id="title">Curriculum Vitae</h2>
              
            </div>

        </div>

    </header>
    <main>
        <div class="center">
            <br>
            <div class="myFoto">
                <img src='image/fotoChristian.jpg' alt='fotoChristian' class="fotoChristian">
            </div>
            <div class="positionsDataJob">
                <div id="scroll">
                    <br>
                    <h3 class="dataH3">Instituto Técnico Renault (Secundario)</h3>
                    <p class="dataP">Profeson de Física.</p>
                    <p class="dataP">Profeson de Resistencia de Materiales.</p>
                    <p class="dataP">Profeson de Termodinámica.</p>
                    <br>
                    <h3 class="dataH3">Instituto Técnico Renault (Formación Superior)</h3>
                    <p class="dataP">Coordinador del área de formación Superior</p>
                     <br>
                    <h3 class="dataH3">Instituto Técnico Renault (Terceario) </h3>
                    <p class="dataP">Instructor  de Inyección Electrónica.</p>
                    <p class="dataP">Profeson de Motores Endotérmicos.</p>
                    <p class="dataP">Profeson de Electrónica Embarcada.</p>
                    <br>
                    <h3 class="dataH3">Centro de Formación en Tecnologías Aplicadas</h3>
                    <p class="dataP">Coordinador de cursos de formacion</p>
                    <p class="dataP">Programacion de unidades de control</p>
                    <p class="dataP">Reparación de bombas de Alta presión</p>
                    <p class="dataP"></p>
                    <br>
                    <h3 class="dataH3">Instituto Santa Ana (1998-2005)</h3>
                    <p class="dataP">Profeson de Física</p>
                    <p class="dataP">Profeson de matemáticas</p>
                    <br>
                    <h3 class="dataH3">Facultad de Ingeniería U.N.C. (1997-2003)</h3>
                    <p class="dataP">Ayudante de Cátedra de Física I</p>
                    <p class="dataP">Ayudante de Cátedra de Física II</p>
                    <br>
                </div>
            </div>

            <a class="whatsapp" href="https://wa.me/543516840510?text=Quiero%20consultar%20por%20algún%20producto"
                target="_blank">
                <i class="fa fa-whatsapp whatsapp-icon"></i>
            </a>
    </main>
    <script src="js/contact.js"></script>
</body>

</html>