<!DOCTYPE html>
<html lang="en">

<head>
    <title>CV/Estudios</title>

    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="nav-bar">
            <div class="logo">
                <a href="/"><i class='fas fa-rainbow'></i></a>
            </div>
            <div class="dropdown">
                <div >
                    <button class="buttonDeslizable">  
                        <div class="burger-menu" > 
                            <i class="fas fa-bars"></i>
                        </div>
                    </button>
                </div>
                <div id="completo">
                    <div class="dropdown-content">
                        <div id="felx">
                           

                            <a href="/contact" >Contacto</a>
                            <a href="/about" >Datos Personales</a>
                            <a href="/studies" >Mis Estudios</a>
                            <a href="/myJob" >Mi Experiencia</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="icons-contens">
                <div class="icons">
                    <div class="borde">
                        <p id="emailIcon"><i class='fa fa-at'></i></p>
                    </div>
                    <div class="borde">
                        <p id="contact"><i class='fa fa-phone'></i></p>

                    </div>
                    <div class="borde">
                        <p id="aboutMy"><i class='fa fa-info-circle'></i></p>

                    </div>
                    <div class="borde">
                        <p id="myStudies"><i class='fa fa-book'></i></p>

                    </div>
                    <div class="borde">
                        <p id="myJob"><i class='fa fa-cogs'></i></p>

                    </div>

                </div>
                <div class="data-contens">
                    <div class="borde">
                        <a href="/contact" id="email"></i></a>
                    </div>
                    <div class="borde">
                        <p id="foneNunber"></p>
                    </div>
                    <div class="borde">
                        <a href="/about" id="about"></i></a>

                    </div>
                    <div class="borde">
                        <a href="/studies" id="studies"></i></a>

                    </div>
                    <div class="borde">
                        <a href="/myJob" id="job"></i></a>

                    </div>

                </div>
            </div>
            <div class="h2_Cv">
                <h2 id="title">Curriculum Vitae</h2>
                <h3>Download</h3>
            </div>

        </div>

    </header>

    <main>
        <div class="center">
            <br>
            <div class="myFoto">
                <img src='image/fotoChristian.jpg' alt='fotoChristian' class="fotoChristian">
            </div>

        </div>

        </div>

        <div id="positionsData">
            <h2 class="colorH2">Mis Estudios</h2>
            <br>
            <h3 class="dataH3">Ingenieria Mecánica Aeronáutica</h3>
            <p class="dataP">Universidad Nacional de Córdoba. Estado Cocluida</p>
            <br>
            <h3 class="dataH3">Tecnico Electronico</h3>
            <p class="dataP">Laboratorio de Electrónica Digital (L.E.D). Estado Cocluida</p>
            <br>
            <h3 class="dataH3">Programador full stack</h3>
            <p class="dataP">Digital House (D.H). Estado Cocluida</p>
            <br>
            <h3 class="dataH3">Programador Front End</h3>
            <p class="dataP">TICMAS Argentina Programa 4.0. Estado En curso</p>
            <br>
            <h3 class="dataH3">Formación PHP y MySQL</h3>
            <p class="dataP">e-Learning Universidad Tecnológica Nacional. Estado En curso</p>
        </div>

        <a class="whatsapp" href="https://wa.me/543516840510?text=Quiero%20consultar%20por%20algún%20producto"
            target="_blank">
            <i class="fa fa-whatsapp whatsapp-icon"></i>
        </a>
    </main>
    <script src="js/contact.js"></script>
</body>

</html>